/* --------------------------- TAG SELECTOR ---------------------------------*/
body {
  background-color: #f0ffff;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}


h1,h3 {
  color: #66bfbf;
}

img:hover {
  background-color: #ffd3e1;
}

h1:hover {
  color: #ffd3e1;
}
/*------------------------------------ CLASS SELECTOR --------------------*/
/*
.h1_class {
  color: red ;
}
*/
/*------------------------------------ ID SELECTOR --------------------*/
/*
#h1_Id {
  color : green;
}
*/
/*----------------------------------------------------------------------*/
